**/appsettings.json
**/.vscode/*
**/bin/*
**/obj/*
**/wwwroot/**/*.js
**/wwwroot/**/*.css
/**/node_modules/*
/**/*.log

**/.DS_Store

**/*.map
build.sh

RoboHome.Listener/**/*.js
RoboHome.Listener/**/*.js.map

robohome_listener/target/**/*
robohome_listener/settings.toml

/**/.sass-cache