<form *ngIf="remote" (change)="remoteChange($event, remote)">
    <div class="remote-title">
        <label for="location">Location</label>
        <input id="location" [(ngModel)]="remote.location" name="location" />
        <span id="last-saved">Last saved: {{lastSaved}}</span>
    </div>
    <div id="switches">
        <div class="switches-title">
            <span>Switches</span>
            <button class="small square" (click)="addSwitch()">+</button>
        </div>
        <div id="switch-list">
            <switch *ngFor="let sw of remote.switches" [sw]="sw" (switchDeleted)="childDeleted($event)"></switch>
        </div>
    </div>
</form>