@import './constants.scss';

.flip-container {
    display: flex;
    flex-flow: row;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 12pt;
    background: $primary;
    button {
        margin-left: 5px;
        align-self: center;
    }
}

.time {
    display: flex;
    flex-flow: row;
    align-content: center;
    input {
        text-align: right;
    }
    input,
    select {
        font-size: 12pt;
        padding: 0;
        height: 19px;
        align-self: center;
    }
    select {
        margin-left: 2px;
    }
    span {
        align-self: center;
        margin: 0 2px;
    }
}

.radio-container {
    display: flex;
    flex-flow: column;
    margin-left: 5px;
    .radio-option {
        display: flex;
        flex-flow: row;
        margin: 0;
    }
}