@import './constants.scss';

#remotes {
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.remote {
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    padding: 10px 20px;
    background: $primary;
    color: #fff;
    align-content: center;
    text-align: center;
    h3 {
        align-self: center;
        margin: 0;
        font-size: 24pt; 
    }
}

.switches {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 25px;
}

.switch {
    width: 125px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

