@import './constants.scss';

#remotes {
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.remote {
    margin: 5px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    padding: 10px 20px;
    background: $primary;
    color: #fff;
    align-content: center;
    text-align: center;
    position: relative;
    h3 {
        align-self: center;
        margin: 0;
        font-size: 24pt;
        cursor: pointer;
    }
    button {
        position: absolute;
        right: 5px;
        top: 5px;
        background: $error;
    }
}

.switches {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 25px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: 100%;
    cursor: pointer;
}

.switch {
    width: 125px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

